<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <style type="text/css">
            .error {
                color: red;
            }
            form {
            }
            .form-line {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 5px;
            }
            p {
                margin: 0;
            }
        </style>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>
